%flex {
  display: flex;
  flex-wrap: wrap;
}
%button {
  background-color: $btn-color;
  color: #ffffff;
  border: 1px solid $btn-color;
  border-radius: $border-radius;
  @include btn-padding(8px, 16px);
  font-weight: 600;
  &:hover {
    background-color: $hover-color;
  }
}
%border-property {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
