$font-stack: "Nunito Sans", sans-serif;
$text-color: #6b7a90;
$title-color: #152c5b;
$btn-color: #008aff;
$hover-color: #0c66ff;
$border-color: #e2e8f0;
$border-radius: 0.75rem;
$box-shadow: 3px 4px 20px 10px #00000014;
$section-color: #fafbfe;
